/* Add a Stylesheet: */
/* [x]- Create a `stylesheet.css` file and source it into the HTML file. */

/* [x]- Give the `header` a dark background color and choose a light  color for the text. */
header {
    background-color: rgb(20, 20, 98);
    color: rgb(52, 226, 171);
/* [x]- Center the text in the `header`.*/
    text-align: center;
}
/*
    [x]- Give the `main` a light grey background color.*/
main {
    background-color:lightgrey;
}
/*
    [x]- Look up the CSS `background-image` property to learn how to use the provided `record.png`
    as the background image on your page with a relative path.
 */
body {
    background-image: url('record.png');
/*  [x]- Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image.*/
    background-repeat:repeat;
/*
[x]- Look up CSS `margin` and `padding`.
  [x]- Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) */
  margin:0px;
/*  [x]- Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.) */
padding: 1em;
}

.list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;

}